@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: -apple-system, 'Inter', sans-serif;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  html,
  body {
    overscroll-behavior: none;
  }

  .scrollbar-brand::-webkit-scrollbar {
    width: 16px;
  }
  .scrollbar-brand::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
  .scrollbar-brand::-webkit-scrollbar-thumb {
    background-color: rgba(116, 116, 116, 0.5);
    border-radius: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
    transition: all;
    transition-duration: 1s;
  }

  .scrollbar-brand::-webkit-scrollbar-thumb:hover {
    background-color: rgba(116, 116, 116, 1);
  }

  .scrollbar-brand::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }

  .scrollbar-brand::-webkit-scrollbar-thumb:hover {
    background-color: rgba(116, 116, 116, 1) !important;
  }

  .highlightable em {
    font-style: normal;
    font-weight: bold;
    color: #FF8100;
    background-color: #FF810020;
  }
}

* {
  @apply focus:outline focus:outline-brand-primary sm:focus:outline-none focus:outline-offset-2 focus:outline-2 font-basic;
}

body {
  @apply bg-wallpaper text-sm;
}

.overflow-overlay {
  overflow: overlay;
}
